<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" href="https://raw.githubusercontent.com/phyfox/phyfox.github.io/master/assets/favicon.png" type="image/x-icon">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="https://phyfox.github.io/css/main.css">
		</head>
		<body><div id="body">
			<div id="header">
	    		<nav><ul>
	        		<li><a href="/">Home</a></li>
	        		<!--<li><a href="/experience">Experience</a></li>
	        		<li><a href="/skills">Skills</a></li>-->
		        	<li><a href="/blog">Blog</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul></nav>
			</div><!--End header div -->
			<div class="content">
				{{ content }}
			</div><!-- End content div -->
</div><!-- End body div -->
			<div id="footer"><footer>
<center>
	    		<ul>
							<li><a href="/contact">
										<img src="https://raw.githubusercontent.com/phyfox/phyfox.github.io/master/assets/gmail-logo.png" alt="Gmail logo" width="32px" class="social-media-icon">
							</a></li>
<!--
							<li><a href="https://www.linkedin.com/in/emilyrcreager" target="_blank">
						        <img src="\assets\linkedin-logo.png" alt="Linkedin logo" width="32px" class="social-media-icon">
							</a></li>

							<li><a href="https://www.github.com/ercreager" target="_blank">
										<img src="\assets\github-logo.jpg" alt="Github logo" width="32px" class="social-media-icon">
							</a></li>

							<li><a href="/contact">
						        <img src="\assets\phone-logo.png" alt="Phone icon" width="32px" class="social-media-icon">
							</a></li>

							<li><a href="\assets\EmilyCreagerResume.pdf" target="_blank">
										<img src="\assets\resume-icon.png" alt="Resume icon" width="32px" class="social-media-icon">
							</a></li>
-->
			</ul>
</center>
				</footer>
			</div><!-- End footer div-->
		
			<!--{% include analytics.html %}-->
	</body>
</html>
